@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Kalam:wght@300;400&family=Permanent+Marker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
